* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.top-bar {
  width: 100%;
  height: 96px;
  background-color: #F18435;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); /* Sombra para baixo, criando o efeito de profundidade */
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}



.logo {
  width: 110px;
  height: 100px;
  object-fit: contain;
  margin-right: 40px; 
}

.menu-container {
  display: flex;
  gap: 40px;
  margin-left: 20px; 
}

.menu-item {
  color: rgba(0, 0, 0, 0.41);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
}

.buttons-container {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.entrar-btn {
  width: 96px;
  height: 48px;
  border-radius: 11px;
  background: rgba(94, 132, 226, 0.96);
  color: rgba(255, 255, 255, 0.50);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  border: none;
  cursor: pointer;
}

.cadastrar-btn {
  width: 126px;
  height: 48px;
  border-radius: 11px;
  background: #F8A66B;
  color: rgba(0, 0, 0, 0.41);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  border: none;
  cursor: pointer;
}

.main-content {
  display: flex;
  height: calc(100vh - 96px);
  overflow: hidden;
}

.form-section {
  flex: 1;
  width: 50%;
  background: #fff;
  padding: 30px 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inner {
  width: 380px; 
}

.titulo-login {
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: left; 
  width: 100%;
}

.subtitulo-login {
  color: rgba(0, 0, 0, 0.45);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label-email,
.label-senha {
  color: rgba(0, 0, 0, 0.45);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  width: 100%;
}

.input-email,
.input-senha {
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 11px;
  border: 4px solid #E8ECFF;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.lembrar-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.lembrar-checkbox {
  appearance: none;
  width: 32px;
  height: 32px;
  border: 5px solid #E8ECFF;
  border-radius: 10px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.lembrar-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;
  width: 8px;
  height: 16px;
  border: solid #4A90E2;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.lembrar-label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.45);
}

.entrar-novo-btn {
  width: 100%;
  height: 48px;
  border-radius: 11px;
  background: rgba(94, 132, 226, 0.96);
  color: rgba(255, 255, 255, 0.50);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.entrar-google-btn {
  width: 100%;
  height: 48px;
  border-radius: 11px;
  border: 5px solid #E8ECFF;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.50);
  letter-spacing: -0.36px;
  cursor: pointer;
}

.google-icon {
  width: 24px;
  height: 24px;
}

.google-bold {
  font-weight: 700;
}

.bg {
  flex: 1;
  width: 50%;
  background: #3862CC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.bg-text {
  width: 100%;
  max-width: 600px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.84px;
  line-height: 1.2;
}

.highlight {
  color: #F18435;
  font-weight: 700;
}

.bg-image {
  margin-top: 32px;
  width: 300px;
  height: auto;
  object-fit: contain;
}